{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Your Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/seller_products.css' %}" />
  </head>
  <body>
    {% include 'Components/header.html' %}

    <div class="container">
      <h1>Your Products</h1>

      <div class="top-buttons">
        <a href="{% url 'add_product' %}" class="add-btn">
          <i class="fas fa-plus-circle"></i> Add New Product
        </a>
        <a href="{% url 'seller_dashboard' %}" class="dashboard-btn">
          <i class="fas fa-chart-line"></i> View Dashboard
        </a>
        <a href="{% url 'seller_orders' %}" class="seller_orders-btn">
          <i class="fa-solid fa-cart-shopping"></i> orders
        </a>

      </div>

      {% if products %}
        <div class="grid">
          {% for product in products %}
            <div class="card">
              <img src="{{ product.image.url }}" alt="{{ product.name }}" />
              <div class="info">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description|truncatewords:20 }}</p>
                <span class="price">£{{ product.price }}</span>
              </div>
              <div class="btn-actions">
                <a href="{% url 'edit_product' product.pk %}" class="edit-btn">
                  <i class="fas fa-edit"></i> Edit
                </a>
                <form method="post" action="{% url 'delete_product' product.pk %}">
                  {% csrf_token %}
                  <button type="submit" class="delete-btn">
                    <i class="fas fa-trash-alt"></i> Delete
                  </button>
                </form>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="empty-message">You haven't added any products yet.</p>
      {% endif %}
    </div>

    {% include 'Components/footer.html' %}
  </body>
</html>
