{% extends 'dashboard/dashboard.html' %}
{% block content %}
  <div class="container">
    <h1>Orders on Your Products</h1>
    
    {% if order_items %}
      <table>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Ordered By</th>
          <th>Order Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        {% for item in order_items %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>£{{ item.price }}</td>
            <td>{{ item.order.user.username }}</td>
            <td>{{ item.order.created_at|date:"Y-m-d H:i" }}</td>
            <td>{{ item.order.status }}</td>
            <td>
                      <form method="post" action="{% url 'toggle_order_status' item.order.id %}">
            {% csrf_token %}
            <button type="submit" class="btn status-toggle">Change</button>
          </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No orders on your products yet.</p>
    {% endif %}
  </div>
{% endblock %}
